#include "resource.h"

IDC_CONTEXTMENU MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "Setting", IDM_SETTING
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_EXIT
  END
END

IDI_APP_ICON ICON "assets/icon_128x128.ico"
IDI_NOTIFY_ICON ICON "assets/icon_16x16.ico"
